	<div class="login_form">
    <h2><%=t :sing_up_enter%></h2>
          <div class="flash">
      <% flash.each do |type, message| -%>
        <div class="message <%= type %>">
          <p><%=  message %></p>
        </div>
      <% end -%>
    </div>
    	<% form_for :user, :url => users_path, :html => { :class => 'form' } do |f| -%>

    <div class="group">
        <div class="left">
          <label class="label"><%=t :login%></label>
        </div>
        <div class="right">
          <%= f.text_field :login, :class => 'text_field' %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="group">
        <div class="left">
          <label class="label"><%= t :email%></label>
        </div>
        <div class="right">
          <%= f.text_field :email, :class => 'text_field' %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="group">
        <div class="left">
          <label class="label"><%= t :password%></label>
        </div>
        <div class="right">
          <%= f.password_field :password, :class => 'text_field' %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="group">
        <div class="left">
          <label class="label"><%= t :repeat_password%></label>
        </div>
        <div class="right">
          <%= f.password_field :password_confirmation, :class => 'text_field' %>
        </div>
        <div class="clear"></div>
      </div>

              <div class="group navform">
                <div class="button_enter_form">
                  <input type="submit" class="button_yes_registr" value="<%=t :sing_up%>" /> <%= link_to t(:to_login), login_path %> 
                </div>
                <div class="clear"></div>
          </div>
    <% end -%>
    </div>
