<ul>
  <li <%if params[:controller] == 'polls' && params[:action] == 'new'%>class='active'<%end%>><%=link_to t(:polls), polls_path%></li>

  <%if @poll && @poll.id %>
    <li <%if params[:controller] == 'polls' && params[:action] == 'show'%>class='active'<%end%>><%=link_to @poll.title, poll_path(@poll)%></li>
  <%end%>

  <%if @anketa && @anketa.id %>
    <li <%if (params[:controller] == 'anketas' && params[:action] == 'show')%>class='active'<%end%>><%=link_to @anketa.title, poll_anketa_path(@poll,@anketa)%></li>
  <%end%>

  <%if @results || (@result && @result.id) %>
    <li <%if params[:controller] == 'results' ||  params[:controller] == 'results' && params[:action] == 'show'%>class='active'> <%end%>
      <%=link_to t(:results), poll_anketa_results_path(@poll,@anketa)%> </li>
  <%end%>

  <%if params[:controller] == 'results'  && params[:action] == 'analize'%>
    <li class='active'>
      <%=link_to t(:analize), analize_poll_anketa_results_path(@poll,@anketa)%> </li>
  <%end%>
</ul>
<!-- && params[:action] == 'index'%> - перевіряє чи index, та && params[:action] == 'show'% - перевіряє чи show
(виділення відповідного пункту меню)-->