<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'List', results_path %></li>
      <li><%= link_to 'New', new_result_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <h2 class="title">All Results</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
					
					<th>Anketa_id</th>
					
          <th>Created at</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @results.each do |result| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= result.id %>
          </td>
					
					<td>
						<%= link_to result.anketa_id, result_path(result) %>
					</td>
					
					<td>
            <%= result.created_at %>
          </td>
          <td class="last">
            <%= link_to 'show', result_path(result) %> |
            <%= link_to 'edit', edit_result_path(result) %> |
            <%= link_to 'destroy', result_path(result), :method => :delete, :confirm => 'Are you sure?' %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar">
        <div class="actions">
        </div>
        
        <%= will_paginate @results  %>
        
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>