
  <div class="group">
    <%= f.label :title, t(:poll_title), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
    <span class="description"><%= t(:a_simple_text)%></span>
  </div>

  <div class="group">
    <%= f.label :branch, t(:poll_branch), :class => :label %>
    <%= f.text_field :branch, :class => 'text_field' %>
    <span class="description"><%= t(:a_simple_text)%></span>
  </div>

  <div class="group">
    <%= f.label :location, t(:poll_location), :class => :label %>
    <%= f.text_field :location, :class => 'text_field' %>
    <span class="description"><%= t(:a_simple_text)%></span>
  </div>

  <div class="group">
    <%= f.label :state, t(:poll_state), :class => :label %>
    <%= f.text_field :state, :class => 'text_field' %>
    <span class="description"><%= t(:a_simple_text)%></span>
  </div>

  <div class="group">
    <%= f.label :description, t(:poll_description), :class => :label %>
    <%= f.text_area :description, :class => 'text_area' %>
    <span class="description"><%= t(:a_simple_text)%></span>
  </div>

  <div class="group">
    <%= f.label :start_date, t(:poll_start_date), :class => :label %>
    <%= f.date_select :start_date, :class => 'date_select' %>

    <span class="description"><%= t(:a_simple_text)%></span>
  </div>

  <div class="group">
    <%= f.label :end_date, t(:poll_end_date), :class => :label %>
    <%= f.date_select :end_date, :class => 'date_select' %>
    <span class="description"><%= t(:a_simple_text)%></span>
  </div>
        
<div class="group navform">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => t(:save)) %> <%=t(:save)%>
  </button>

  <%= link_to t(:cancel_img, :img=>image_tag("web-app-theme/cross.png", :alt => t(:cancel))), polls_path, :class => "button" %>
  <div class="clear"></div>
</div>